.navbar{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $white;
    justify-content: space-between;
    border-bottom: 1px solid $darkGrey;
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;

    }
    &__logo{
        font-size: 1.5rem;
    }
    .link__active{
        *{
            fill:$blue;
        }
    }
    .circle{
        background-color: #222222;
        width: 22px;
        height: 22px;
        border-radius: 50%;
    }
}

@media (max-width: 400px) {
    .navbar__list {
        width: 50%;
    }
  }
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    *{
        max-width: 150%;
    }
}
.icon-home{
    width: 50px!important;
    height: 50px!important;
}

a{
    text-decoration: none !important;
    color: inherit;
    &:hover{
        color: inherit;
        
    }
}