.page{
    min-height: 100vh;
}
.messages-container{
    margin-top: 20px;
    background: $white;
    border: 1px solid $dark;
    height:90vh;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.edit-profile{
    .edit-container{
        margin-top: 20px;
    }
}
.page{
    .login{
        
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        height: 80vh;
    }
    }
    
}
.contained{
    max-width: 100%;
}