.post{
    background-color: $white;
    border: 1px solid #dbdbdb;
    margin: 20px 0;
    &:first-of-type{
        margin-top: 0;
    }
    header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 5px 8px;
        border-bottom: 1px solid #dbdbdb;
        .post__author-info{
            img{
                width: 32px;
                margin-right: 8px;
            }
        }
    }
    &__media{
        display: flex;
        justify-content: center;
    }
    &-image{
        max-width: 100%;
        align-items: center;
    }
    &__footer{
        &-info{
            padding: 5px 8px;
        }
        .action{
            margin-right: 8px;
        }
        .liked{
            *{
                fill: rgb(207, 38, 38);
            }
        }
        button{
            background: none;
            border: none;
        }
        .description{
            padding: 5px 8px;
        }
    }
    .blank{
        background-color: $grey;
    }
    .comments-container{
        width: 100%;
        height: calc(100% - 50px);
        .container{
            height: 100%;
        }
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .comments-row{
        position: relative;
        height: calc(500px - 45px);
    }
}
.options__button{
    width: 32px;
    padding: 2px 5px;
    *{
        max-width: 100%;
    }
}
.comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 29px;
    .options__button{
        display: none;
    }
    &:hover{
        .options__button{
            display: block;
        }   
    }
}
.commentForm{
    &-from-post{
        @extend .commentForm;
        position: absolute;
        bottom: 0;
    }
    width: 100%;
    border-top: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 50px;
    .input{
        height: 20px;
        width: 80%;
        outline: none;
        border: none;
        font-size: 18px;
    }
    button{
        text-align: center;
        align-content: center;
        justify-content: center;
        font-size: 1rem;
        color: $blue;
    }
}

.post-modal-row{
    border-bottom: 2px solid $black;
    text-align: center;
    font-size: 15px;
    justify-content: center;
    align-content: center;
    &:hover{
        cursor: pointer;
    }
    &:last-of-type{
        color:rgb(209, 75, 75);
        border-bottom: none;
    }
}